<section  ng-controller="isactiveHostController" id="main">
<form>
  <label for="subnet">Host IP:<input type="text" ng-model="host.subnet" name="subnet" /></label>
  <input type="submit" ng-click="isactive()" value="Check if active" />

</form>
 {{apiResponse}}
</section>

