<section ng-controller="createHostController" id="main">

	{{apiResponse}}
	<form>
	  Enter host details below:<br />
	  <label for="name">Name:</label>
	  <input type="text" ng-model="host.name" name="name" /><br />
	  <label for="name">Description:</label>
	  <input type="text" ng-model="host.description" name="description" /><br />
	  <label for="subnet">Subnet:</label>
	  <input type="text" ng-model="host.subnet" name="subnet" /><br />
      <label for="subnet">Cidr Value:</label>
	  <input type="text" ng-model="host.cidr" name="cidr" /><br />
	  <label for="subnet">Enabled:</label>
	  <input type="text" ng-model="host.enabled" name="enabled" /><br />
	  <input type="submit" ng-click="newHost()" value="Submit" />
	</form>
</section>

