<input type="text" ng-model="nameFilter" placeholder="Search..."/>
 <div class="search-button-trigger"><i class="icon-search"></i></div>
<table>
<thead>
  <tr><th colspan="4">Drivers Championship Standings</th></tr>
</thead>
<tbody>
  <tr ng-repeat="driver in driversList | filter: nameFilter">
    <td>{{$index + 1}}</td>
    <td>
	  	{{driver.id}}&nbsp;{{driver.name}}
	  </a>
	</td>
  <td>{{ driver.subnet }}</td>
  </tr>
</tbody>
</table>