<section  ng-controller="enableHostController" id="main">
<form>
  Enter host id:
  <input type="text" ng-model="host.id" name="id" />
  <input type="submit" ng-click="enable()" value="Enable" />
  <input type="submit" ng-click="disable()" value="Disable" />

</form>
 {{apiResponse}}
</section>