<input type="text" ng-model="nameFilter" placeholder="Search..."/>
<div class="search-button-trigger"><i class="icon-search"></i></div>
<table>
<thead>
  <tr><th>ID</th><th>name</th><th>subnet</th><th>enabled</th></tr>
</thead>
<tbody>
  <tr ng-repeat="host in hostsList | filter: nameFilter">
    <td>
	  	{{host.id}}
	</td>
  <td>
      {{host.name}}
  </td>
  <td>{{ host.subnet }}/{{ host.cidr }}</td>
  <td>{{ host.enabled }}</td>

  </tr>
</tbody>
</table>
