<div ng-controller="UserCtrl">
 
		<form novalidate class="simple-form">
			Username: <input type="text" ng-model="user.username"></input><br />
			Password: <input type="text" ng-model="user.password"></input><br />
			<input type="submit" ng-click="login(user)" value="Login" />
		</form>
		<img src="{{ apiResponse }}"></img>
</div>